.titulo {
  text-align: center;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 4%;
  margin-bottom: 5%;
}

.container {
  width: 90%;
  text-align: center;
  margin: auto;
}

.conteiner-carro1 {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
  margin-bottom: 5%;
}

.conteiner-carro2 {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
  margin-left: 3%;
  margin-bottom: 5%;
}

.conteiner-carro3 {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
  margin-left: 3%;
  margin-bottom: 5%;
}

.conteiner-carro4 {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
  margin-left: 3%;
  margin-bottom: 5%;
}

.nomes-carros {
  text-align: center;
  font-size: 1.5rem;
}

.imagens-carros {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (max-width: 520px) {
  .titulo {
    font-size: 1.5rem;
  }

  .conteiner-carro1 {
    width: 40%;
  }

  .conteiner-carro2 {
    width: 40%;
  }

  .conteiner-carro3 {
    width: 40%;
    margin-left: 0%;
  }

  .conteiner-carro4 {
    width: 40%;
  }

  .conteiner-carro5 {
    width: 40%;
  }

  .nomes-carros {
    font-size: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  .conteiner-carro1 {
    background-color: white;
  }

  .conteiner-carro2 {
    background-color: white;
  }

  .conteiner-carro3 {
    background-color: white;
  }

  .conteiner-carro4 {
    background-color: white;
  }
}
