html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.cabecalho {
  width: 100%;
  background-color: #023;
  display: flex;
  position: fixed;
  z-index: 1;
}

.logo {
  display: flex;
  width: 30%;
  height: 7rem;
  margin-left: 10%;
}

.menu {
  color: white;
  width: 30%;
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
  margin-left: 10%;
}

.nome {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 5%;
  color: white;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Parte do sobre do site */
.modulo1 {
  background-color: grey;
  margin-top: 0%;
  padding-top: 10%;
}

.box-historia {
  width: 70%;
  display: flex;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 10%;
  margin-left: 15%;
}

.historia {
  color: white;
  font-size: 1.2rem;
}

.box-img-empresa {
  padding-left: 5%;
}

.img-empresa {
  border-radius: 10px;
  height: 14rem;
  margin-bottom: 5%;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Parte de Shop do site */
.modulo2 {
  background-color: #023;
}

#shop {
  margin: 0;
}

.box-modelos {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding-bottom: 3%;
}

.compra {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 5%;
  color: white;
  padding-bottom: 4%;
}

.box-tenis1,
.box-tenis2,
.box-tenis3,
.box-tenis4,
.box-tenis5 {
  display: flex;
  flex-direction: column;
  margin-left: 1.4%;
  border: 1px solid white;
  border-radius: 10px;
  /* -webkit-font-smoothing: antialiased; */
}

.nome-tenis {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.preço-tenis {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  color: white;
}

.img-tenis {
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.box-botao {
  padding-bottom: 3%;
}

.botao {
  display: flex;
  margin: auto;
  height: 3rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 2;
}

/* ----------------------------------------------------------------------------------------------------- */

/* Parte de Contact do site */
.modulo3 {
  background-color: grey;
}

.contato {
  margin: 0;
  margin-top: 50%;
  color: white;
}

.box-info-contato {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  margin-bottom: 10%;
  margin-left: 55%;
  padding-bottom: 3%;
}

.infos {
  margin-bottom: 0%;
  font-size: 1.2rem;
}

.redes-sociais {
  margin: 0;
  margin-top: 15%;
  color: white;
}

.box-redes-sociais {
  display: flex;
  margin-top: 3%;
}

.redes {
  display: flex;
  width: 10%;
  padding-left: 5%;
  margin-left: -2%;
}

/* Formulario */
.forms {
  display: inline-flex;
  margin-left: 20%;
  margin-top: 9%;
  width: 20%;
  position: absolute;
}

.responder {
  width: 18rem;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10%;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 5px;
}

.fale {
  color: white;
  font-size: 1.5rem;
}

.info-caixa {
  color: white;
  margin-bottom: 5%;
  font-size: 1.2;
}

.caixa {
  background-color: grey;
  margin-bottom: 9%;
  border-bottom-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.mensagem {
  height: 3rem;
  background-color: grey;
  margin-bottom: 5%;
  outline: none;
  border-color: white;
}

.botao-enviar {
  border-radius: 3px white;
}

::placeholder {
  color: black;
}

/* ----------------------------------------------------------------------------------------------------- */

@media (max-width: 1080px) {
  /* Parte do cabeçaho do site */

  .logo {
    margin-left: 2%;
  }

  .menu {
    font-size: 1rem;
    margin-left: -4%;
  }

  li {
    padding-left: 20%;
  }

  /* ----------------------------------------------------------------------------------------------------- */

  /* Parte do sobre do site */
  .nome {
    font-size: 1.8rem;
    margin-top: 22%;
  }

  .box-historia {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
  }

  .historia {
    font-size: 0.4rem;
  }

  .img-empresa {
    width: 8rem;
    height: 6rem;
    padding-top: 4%;
    border-radius: 16px;
    padding-left: 2%;
  }

  /* ----------------------------------------------------------------------------------------------------- */

  /* Parte do Shop do site */
  .compra {
    font-size: 1.8rem;
    padding-top: 13%;
  }

  .box-modelos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .box-tenis1,
  .box-tenis2,
  .box-tenis3,
  .box-tenis4,
  .box-tenis5 {
    display: flex;
    margin-bottom: 2rem;
    width: 25%;
  }

  .nome-tenis {
    font-size: 0.7rem;
    padding: 3%;
  }

  .preço-tenis {
    font-size: 0.5rem;
  }

  .botao {
    height: 2.5rem;
    width: 4rem;
    font-size: 0.6rem;
    margin-top: -7%;
    margin-bottom: 3%;
  }

  /* ----------------------------------------------------------------------------------------------------- */

  /* Parte do Contact do site */
  .box-info-contato {
    width: 30%;
  }

  .contato {
    font-size: 0.9rem;
    margin-top: 70%;
  }

  .infos {
    font-size: 0.5rem;
  }

  .redes-sociais {
    font-size: 0.8rem;
  }

  /* Parte do forms */
  .forms {
    margin-left: 13%;
  }

  .responder {
    width: 9rem;
    height: 15rem;
  }

  .box-info-contato {
    padding-left: 5%;
  }

  .fale {
    font-size: 0.8rem;
    margin-top: -2%;
  }

  .info-caixa {
    font-size: 0.6rem;
  }

  .mensagem {
    width: 7rem;
  }

  .caixa {
    width: 7rem;
  }

  .botao-enviar {
    height: 0.9rem;
    font-size: 0.5rem;
  }

  ::placeholder {
    font-size: 0.5rem;
  }

  .redes {
    margin-bottom: 35%;
  }
}
